.DS_Store
.idea
dist
# Rust compile target directories:
target
target_ra
target_wasm
.gradle
template.json
id_map.json
nicknames.json
classes.json
/build
/android_app/build

# https://github.com/lycheeverse/lychee
.lycheecache
classes
local.properties