.header {
	position: relative;
	text-align: center;
	z-index: 100;
}

.banner {
	position: relative;
	z-index: 100;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-height: 80px;
	height: 100%;
	top: 10px;
	max-width: 90%;
}

.navbar {
	position: relative;
	display: flex;
	overflow: auto;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 50px;
	padding-left: 50px;
	align-items: center;
	justify-content: center;
	vertical-align : center;
}

 canvas {
            margin-right: auto;
            margin-left: auto;
            display: block;
            position: absolute;
            top: 18%;
            left: 0;
            width: 100%;
            height: 82%;
        }

.show {
    display: block; /* Show the dropdown content */
}
